

.main-content {
  width:90%;
}

.content {
    display:flex;
    height:400px;
    background-color:grey;
    margin:50px;
}

.carousel-container {
    display:flex;
    align-items:center;
    justify-content:center;

}

  .carousel {
    width:25%;
    margin: auto;
    margin-top:25px;
  }


.toast-logo {
  height: 25px;
  width: 50px;

}

#liveToastBtn {
  margin-left:50%;
}

.login-dropdown-menu {
  padding:15px;
}

.login-dropdown-menu input {
  padding:5px;
  margin:5px;
}
.login-button {
  margin-left:auto;
}