.intro-section {
  background-image: url("/images/jonathan-livingston-seagull.jpg");
  background-size: cover;
  background-position: center center;
}

.logo {
  width: 100px;
  height: 48px;
}

.footer-header {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 960px) {
  .title-card {
    animation: 1s linear 0s fade-in;
  }
  .hidden {
    transform: translateY(-13%);
    transition: transform 0.5s;
  }
  .show {
    filter: blur(0);
    transform: translateX(0);
  }
  .company-card:nth-child(2) {
    transition-delay: 100ms;
  }
  .company-card:nth-child(3) {
    transition-delay: 200ms;
  }

  @media (prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }
}

.company {
  width: 50%;
  height: 50%;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.system-cards {
  transition: transform 0.5s, box-shadow 0.5s;
}
.card-title {
  font-size: 23px;
}
.card-text {
  height: 100%;
}

.card-img-top {
  width: 286px;
  height: 206px;
}

.system-cards:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.kunder-och-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.kunder-och-partners img {
  opacity: 0.4;
}

#factoring-gruppen {
  width: 319px;
  height: 128px;
}

#pwc {
  width: 151px;
  height: 42px;
}

.kunder-och-partners img:hover {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content {
  width: 100vw;
  min-height: 75vh;
}

.content .container {
  padding-top: 30px;
  padding-bottom: 20px;
  box-shadow: 2px 15px 20px #1f1f1f10, -2px -8px 20px #1f1f1f1a;
}

.container img {
  vertical-align: middle;
}

@media (max-width: 575.5px) {
  .content {
    padding: 20px;
  }
  .content .container {
    padding: 20px;
  }
  .h3 {
    font-size: calc(1.1rem + 0.6vw);
  }
  .fs-5 {
    font-size: 0.9rem !important;
  }
  .container .rollers .wrapper .items-container .item .company {
    opacity: 0.4;
  }
}

@media screen and (min-width: 960px) {
  .welcome-div {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    margin-left: 3rem !important;
    padding: 3rem !important;
    margin-right: auto !important;
  }
}
